<div class="container">
    <div class="row">
        <div class="col-12">
            <img class="img-fluid w-100" src="/img/rover-header.jpg"></img>
        </div>
        <div class="col">
            <div class="my-3 px-5 py-2 bg-primary bg-opacity-75 text-white" style="border-radius: 1rem">
                <p><span class="h1">rover</span> <span class="fs-5 fw-lighter">/ˈrōvər/</span></p>
                <p><em>noun</em></p>
                <ol>
                    <li>A self-contained Amateur Radio station that moves between multiple
                        locations during a contest or to activate a sparsely populated grid.</li>
                </ol>
            </div>
        </div>
    </div>
</div>