<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        {{ partial "head.html" . }}
        <title>
            {{- block "title" . -}}
                {{- if .IsHome -}}
                    {{ .Site.Title }}
                {{- else -}}
                    {{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}
                {{- end -}}
            {{- end -}}
        </title>
    </head>
    <body>
        {{ partial "navbar.html" . }}
        {{ partial "header.html" . }}
        <main role="main">
        {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer.html" . }}
        {{ partial "js.html" . }}
    </body>
</html>
